<div class="container">
    <div class="row">
        <div class="col-xl-12">

            <h5>Total Users: <span class="totalRecords" style="font-weight: bold">0</span>

                <div class="btn-group" style="float: right">
                    <a class="btn btn-outline-secondary btn-sm" onclick="openModal(1)"><i class="fa fa-plus"></i> <span class="hidden-xs">Add User</span></a>
                    <a class="btn btn-outline-secondary btn-sm" data-click="panel-reload" onclick="loadUsersList()"><i class="fa fa-undo"></i> Refresh</a>
                </div>
            </h5>

            <hr>

            <table class="table table-bordered nowrap table-hover" id="userTable"  cellspacing="0" width="100%">

            </table>
        </div>
    </div>
</div>
<script src="/js/users.js"></script>






<div id="addUser" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span class="templateAction"></span> User</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form action="javascript:void(0)" autocomplete="off">
                <div class="modal-body">
                    <div  class="row">
                        <div  class="col-md-6">
                            <div  class="form-group">
                                <label  class="inputLabel">First Name <span class="text-danger">*</span></label>
                                <input  class="form-control input-sm" placeholder="" type="text" id="firstName" required>
                            </div>
                        </div>
                        <div  class="col-md-6">
                            <div  class="form-group">
                                <label  class="inputLabel">Last Name <span class="text-danger">*</span></label>
                                <input  class="form-control input-sm" placeholder="" type="text" id="lastName" required>
                            </div>
                        </div>
                    </div>
                    <div  class="row">
                        <div  class="col-md-6">
                            <div  class="form-group">
                                <label  class="inputLabel">Email <span class="text-danger">*</span></label>
                                <input  class="form-control input-sm" placeholder="" type="email" id="emailId" required>
                            </div>
                        </div>
                        <div  class="col-md-6">
                            <div  class="form-group">
                                <label  class="inputLabel">Mobile</label>
                                <input  class="form-control input-sm" placeholder="+19876543210" type="text" id="mobileNo">
                                <small class="grey">include country code with + symbol</small>
                            </div>
                        </div>
                    </div>
                    <div  class="row">
                        <div  class="col-md-6">
                            <div  class="form-group">
                                <label  class="inputLabel">Password</label>
                                <input  class="form-control input-sm" placeholder="" type="password" id="password" required>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Address</label>

                                <textarea  class="form-control input-sm" placeholder="" type="text" id="address"></textarea>

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>City</label>
                                <input  class="form-control input-sm" placeholder="" type="text" id="city" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>State</label>
                                <input  class="form-control input-sm" placeholder="" type="text" id="state" />

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Country</label>
                                <input  class="form-control input-sm" placeholder="" type="text" id="country" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Zipcode</label>
                                <input  class="form-control input-sm" placeholder="" type="text" id="zipcode" />

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btnModal btnSubmit btn-info">Proceed</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="deleteModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete User</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>Are you sure want to delete <span class="fullName" style="font-weight: 400;text-decoration: underline"></span> user?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btnModal btn-hr" onclick="proceedDelete()">Proceed</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



