<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <h5>Getting Started</h5><hr>

            <ul style="line-height: 2rem">
                <li>Login to <a href="https://platform.boodskap.io">Boodskap IoT Platform</a></li>
                <li>Define the Record <a href="https://platform.boodskap.io/record-definition">https://platform.boodskap.io/record-definition</a>
                    <ul>
                        <li>Click on the <b>Define Record</b></li>
                        <li><img src="/images/example_2_a.png" class="img-fluid" /></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</div>